.csv-import-table-div{
    border: 1px solid silver;
    padding:10px
}

.dsi-row{
  display: grid;
  grid-template-columns: 670px 400px;
}
.dsi-col{
  
}
.span_parser_alert{
    border:1px solid red;
}

.loading-small{
    height:100px;
    width:100px;
}
#start_import{
   margin:10px 0px 0px 520px;
}
/* default styling. Nothing to do with freexing first row and column */
.dsi-main {display: flex;}
.dsi-main > * {border: 1px solid;}
.dsi-table {border-collapse: collapse; font-family: helvetica;
    margin:5px 20px 20px 20px;
}
.dsi-table tbody td, .dsi-table thead th {border:  1px solid;
      padding: 10px;
      min-width: 120px;
      background: white;
      box-sizing: border-box;
      text-align: left;
      word-wrap: break-word;
}
.table-container {
  position: relative;
  max-height:  300px;
  width: auto;
  overflow: scroll;
}

.dsi-table thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: hsl(20, 50%, 70%);
}

.dsi-thead th:first-child {
  left: 0;
  z-index: 3;
}

.dsi-tfoot {
  position: -webkit-sticky;
  bottom: 0;
  z-index: 2;
}

.dsi-tfoot td {
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: hsl(20, 50%, 70%);
}

.dsi-tfoot td:first-child {
  z-index: 3;
}

.dsi-tbody {
  overflow: scroll;
  height: 200px;
}

/* MAKE LEFT COLUMN FIXEZ */
.dsi-tr > :first-child {
  position: -webkit-sticky;
  position: sticky; 
  background: hsl(180, 50%, 70%);
  left: 0; 
}
/* don't do this */
.dsi-tr > :first-child {
  /* box-shadow: inset 0px 1px black; */
}



